{% extends "base_site.html" %}

{% block title %} Host {% endblock title %}
{% load static %}
{% block stylesheets %}
<!-- <link rel="stylesheet" type="text/css" href="{% static '/build/css/config.css' %}"> -->
<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">-->
<link href="{% static '/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static '/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static '/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static '/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static '/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
{{ block.super }}
{% endblock stylesheets %}

{% block content %}

<div class="right_col" role="main">
    <div class="col-xs-6">
        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myHostModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> ADD A NEW HOST
        </button>
    </div>
    <div class="host_list">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                    <h2>Hosts</h2>
                    <div class="clearfix"></div>
                </div>
                    <div class="x_content">
                        <table id="datatable1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Group</th>
                                    <th>Status</th>
                                    <th>Operator</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for host in hosts %}
                                <tr>
                                    <td>
                                        <div>
                                            {{ host.hostname }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ host.description }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ host.group_name }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {% if host.status == 0 %}
                                                OK
                                            {% elif host.status == 1 %}
                                                Warning
                                            {% elif host.status == 2 %}
                                                CRITICAL
                                            {% else %}
                                                Unknown
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#edit{{host.id}}Modal"><i class="fa fa-pencil"></i> Edit </a>

                                            <a href="{% url 'delete_host' 'http' host.id %}" class="btn btn-danger btn-xs"
                                                 onclick="return confirm('Are you sure you want to delete {{host.hostname}} ?');" >
                                                  <i class="fa fa-trash-o"></i> Delete
                                            </a>
                                        </div>

                                        <div id="edit{{host.id}}Modal" class="modal fade" role="dialog">
                                            <div class="modal-dialog">

                                                <!-- Modal content - edit host -->
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Edit host {{ host.hostname }}</h4>
                                                  </div>
                                                  <div class="modal-body">
                                                    <form id="form-edit" data-parsley-validate class="form-horizontal form-label-left" method="post" action="{% url 'edit_host' 'http' host.id %}">
                                                    {% csrf_token %}
                                                        <div class="form-group">
                                                          <label class="control-label col-md-3 col-sm-3 col-xs-12">Hostname</label>
                                                          <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <input type="text" name="hostname" value={{ host.hostname }} required="required" class="form-control col-md-7 col-xs-12">
                                                          </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <textarea name="host_description" class="form-control col-md-7 col-xs-12">{{ host.description }}</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                          <label  class="control-label col-md-3 col-sm-3 col-xs-12">URL</label>
                                                          <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <input type="url" name="url" value={{ host.url }} required="required" class="form-control col-md-7 col-xs-12">
                                                          </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label  class="control-label col-md-3 col-sm-3 col-xs-12">Group</label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <select name="group" class="form-control" required="required">
                                                                    {% for group in groups %}
                                                                        <option value={{ group.id }}>{{ group.group_name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="ln_solid"></div>
                                                        <div class="form-group">
                                                          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                            <!-- <button class="btn btn-primary" type="button">Cancel</button> -->
                                                            <button class="btn btn-primary" type="reset">Reset</button>
                                                            <button type="submit" class="btn btn-success">Submit</button>
                                                          </div>
                                                        </div>
                                                    </form>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                  </div>
                                                </div>
                                              </div>
                                        </div>
                                    </td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="clearfix"></div><br>
    <div class="col-xs-6">
        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myGroupModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> ADD A NEW GROUP
        </button>
    </div>
    <div class="group_list">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                    <h2>Hosts</h2>
                    <div class="clearfix"></div>
                </div>
                    <div class="x_content">
                        <table id="datatable2" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Group Name</th>
                                    <th>Description</th>
                                    <th>Hosts</th>
                                    <th>Attribute</th>
                                    <th>Operator</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for group in groups %}
                                <tr>
                                    <td>
                                        <div>
                                            {{ group.group_name }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ group.description }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {% for host in group.hosts %}
                                                {{ host }}<br>     
                                            {% endfor %}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            Interval check: {{ group.interval_check }} <br>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#edit{{group.id}}Modal"><i class="fa fa-pencil"></i> Edit </a>

                                            <a href="{% url 'delete_group' 'http' group.id %}" class="btn btn-danger btn-xs"
                                                    onclick="return confirm('Are you sure you want to delete {{ group.group_name}} ?');" >
                                                    <i class="fa fa-trash-o"></i> Delete
                                            </a>
                                        </div>

                                        <div id="edit{{group.id}}Modal" class="modal fade" role="dialog">
                                            <div class="modal-dialog">

                                                <!-- Modal content - edit group -->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Edit group {{ group.group_name }}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                    <form id="form-edit" data-parsley-validate class="form-horizontal form-label-left" method="post" action="{% url 'edit_group' 'http' group.id %}">
                                                    {% csrf_token %}
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Group name</label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <input type="text" name="group_name" value={{ group.group_name }} required="required" class="form-control col-md-7 col-xs-12">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <textarea name="group_description" class="form-control col-md-7 col-xs-12">{{ group.description }}</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label  class="control-label col-md-3 col-sm-3 col-xs-12">Interval Check</label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <input type="number" name="interval_check" value={{ group.interval_check }} required="required" class="form-control col-md-7 col-xs-12">
                                                                <small id="icheckHelp" class="form-text text-muted">The time to check HTTP packet again. Unit: sencond</small>
                                                            </div>
                                                        </div>
                                                        <div class="ln_solid"></div>
                                                        <div class="form-group">
                                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                            <!-- <button class="btn btn-primary" type="button">Cancel</button> -->
                                                            <button class="btn btn-primary" type="reset">Reset</button>
                                                            <button type="submit" class="btn btn-success">Submit</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                                </div>
                                        </div>
                                    </td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<div id="myHostModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content - add host -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Host</h4>
      </div>
      <div class="modal-body">
	    <form id="form-new" data-parsley-validate class="form-horizontal form-label-left" method="post">
		{% csrf_token %}
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Hostname <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="hostname" required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <textarea name="host_description" class="form-control col-md-7 col-xs-12"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="control-label col-md-3 col-sm-3 col-xs-12">URL <span class="required">*</span></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="url" name="url" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="control-label col-md-3 col-sm-3 col-xs-12">Group</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select name="group" class="form-control" required="required">
                            {% for group in groups %}
                                <option value={{ group.id }}>{{ group.group_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="myGroupModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content - add group -->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add New Group</h4>
        </div>
        <div class="modal-body">
            <form id="form-new" data-parsley-validate class="form-horizontal form-label-left" method="post">
            {% csrf_token %}
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Group name</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="group_name" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <textarea name="group_description" class="form-control col-md-7 col-xs-12"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="control-label col-md-3 col-sm-3 col-xs-12">Interval Check</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="number" name="interval_check" value=20 required="required" class="form-control col-md-7 col-xs-12">
                        <small class="form-text text-muted">The time to check HTTP packet again. Unit: sencond</small>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button class="btn btn-primary" type="reset">Reset</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>

    </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <script>
    $(document).ready(function() {
        $('#datatable1').DataTable();
    } );
    $(document).ready(function() {
        $('#datatable2').DataTable({
            "searching": false,
            "paging": false,
        });
    } );    
  </script>
  <!--<script src="{% static '/build/js/host.js' %}"></script>-->
  <script src="{% static '/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <!--<script src="{% static '/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>-->
  <script src="{% static '/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static '/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static '/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static '/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static '/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static '/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static '/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static '/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static '/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
  <script src="{% static '/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
  <script src="{% static '/vendors/jszip/dist/jszip.min.js' %}"></script>
  <script src="{% static 'c/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
  <script src="{% static '/vendors/pdfmake/build/vfs_fonts.js' %}"></script>
{% endblock javascripts %}